{% extends 'base.html.twig' %}

{% block body %}

<svg style="pointer-events: none" class="wave mt-4" width="100%" height="50px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75"><defs><style>.a{fill:none}.b{clip-path:url(#a)}.c,.d {fill: hsla(26, 20%, 95%, 1)}.d{opacity:0.5;isolation:isolate;}</style><clipPath id="a"><rect class="a" width="1920" height="75"></rect></clipPath></defs><g class="b"><path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path></g><g class="b"><path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path></g><g class="b"><path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path></g><g class="b"><path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path></g>
</svg>

<div style="background-color: #F5F3F1;" class="p-2">
  <div class="d-flex align-items-end justify-content-center">
    <hr class="d-none d-md-block border border-dark w-25">
    <h1 style="font-family: 'Oswald', sans-serif;">Estamos para <span style="font-weight: bold; letter-spacing: 1px;">Servirle</span>!</h1>
    <hr class="d-none d-md-block border border-dark w-25">
  </div>

  <div class="px-4 text-center">
    <p class="text-wrap p-0 m-0">
      Siempre es un placer atender sus dudas y comentarios, aquí podrá contactarnos y procuraremos darle
      de una manera oportuna las respuestas a sus comentarios y/o sugerencias, para nosotros es muy
      importante la resolución de sus inquietudes y atenderle de la mejor manera.
    </p>
  </div>

  <div class="container mt-5">
    <section class="row">
      <article class="col-12 col-md-5">
        <address class="">
          <h4 class="text-center text-md-left animated wow fadeInRightBig text-success" style="font-family: 'Oswald', sans-serif;">DIRECCIÓN</h4>
          <hr>
          <span> <b>Av. Patria No. 687</b> </span>
          <small class="d-block">Col.: 5 de Mayo</small>
          <small>Guadalajara, Jalisco, Méx.</small>
          <small class="d-block">Contacto: <b>33 3724 6588</b> </small>
          <h4 class="text-center text-md-left animated wow fadeInRightBig text-success mt-3" style="font-family: 'Oswald', sans-serif;">HORARIO DE SERVICIO</h4>
          <hr>
          <span class="d-block">De 08:00 hrs. - 18:00 hrs.</span>
          <small class="d-block">De Lunes a Viernes</small>
        </address>
      </article>
      <article class="col-12 col-md-7">
        {{ form_start(frm, {'action': path('jupadi-contactanos'), 'method': 'POST'}) }}
        {{ form_row(frm.email) }}
        {{ form_row(frm.comentario) }}
        <div class="d-flex justify-content-center">
          {{ form_row(frm.captchaCode) }}
        </div>
        <div class="clearfix my-2"></div>

        <button type="submit" class="btn btn-success btn-block rounded" name="button">Enviar Comentario</button>
        {{ form_end(frm) }}
      </article>
    </section>

    <section class="row mt-4">
      <article class="col-12" style="width: 100%;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3734.207046854533!2d-103.35902608535213!3d20.620415806969266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b27fbb4a6c5d%3A0x2ed87e35055ce7e0!2sAv.%20Patria%20687%2C%205%20de%20Mayo%2C%2044970%20Guadalajara%2C%20Jal.!5e0!3m2!1ses-419!2smx!4v1582660007479!5m2!1ses-419!2smx" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </article>
    </section>
  </div>
</div>
{% include 'jupadi/carrucel.html.twig' %}
{% endblock %}
